.education-history {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  text-align: center;
}

.education-history h3 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.education-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
}

.education-card {
  overflow: hidden; 
  text-align: center;
  padding: 55px;
  width: calc(33.333% - 20px); 
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.education-card:hover {
  transform: translateY(-10px);
}

.education-image {
  width: 280px;
  height: 300px;
  object-fit: contain;
}

.education-card h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.education-card p {
  margin: 5px 0;
  color: #9c9b9b;
  font-size: 0.95rem;
}


@media (max-width: 992px) {
  .education-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .education-card {
    width: calc(100% - 15px); 
  }
  .education-image {
    max-height: 190px; 
    width: 170px;
  }
  .education-card h4 {
    font-size: 1.3rem; 
  }
  .education-card p {
    font-size: 0.9rem; 
    margin: 3px 0;
  }
  .education-container {
    gap: 5px; 
  }
  .education-history h3 {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
}

 
    .content-container {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }
    
    .content-container.visible {
        opacity: 1;
        transform: translateY(0);
    }
    
  
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  

  
/* Footer styling */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  margin-top: 40px; 
  background-color: #5857574f;
  border-radius: 20px;
  width: 50%;
  height: fit-content;
  font-family: sans-serif;
}


.footer h2{
 color: #edeaea;
}

.footer h4{
  font-size: 20px;
  color: #9a9999;
  text-align: center;
}

@media (max-width: 480px) {
   .footer h4{
     font-size: 15px;
     text-align: center;
   }

   .footer{
    width: 90%;
    justify-content: center;
   }
}




.mobile-title {
  display: none; /* Default: sembunyikan */
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
  color: #00f7ff;
  background-color:  #171616c3;
  border-radius: 20px;
}

/* Tampilkan pada mode HP */
@media (max-width: 768px) {
  .mobile-title {
    height: 40px;
    align-items: center;
    font-size: 2rem;
    display: block;
    margin: 1rem;
  }
  
}

.portfolio-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  font-family: Arial, sans-serif;
}

/* Card Styles */
.card {
  background-color: #222223d4;
  border-radius: 15px;
  padding: 60px 20px;
  height: fit-content;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

/* Card Icon */
.card-icon {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #00d4ff;
}

/* Card Title */
.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Card Description */
.card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #b0b0b0;
  margin-bottom: 20px;
}

/* Button Styles */
.contact-btn {
  background-color: #00d4ff;
  border: none;
  color: #0d0d1f;
  padding: 10px 20px;
  font-size: bold 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 8px 15px rgba(26, 101, 145, 0.8);
}
.contact-btn a{
  text-decoration: none;
  color: #0d0d1f;
}
.contact-btn:hover {
  background-color: #00a8cc;
}


@media (max-width: 480px) {
  .portfolio-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  /* Card Styles */
  .card {
    background-color: #222223d4;
    border-radius: 15px;
    padding: 20px 20px;
    height: fit-content;
    width: 100px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-icon {
    font-size: 0.8rem;
    margin-bottom: 15px;
    color: #00d4ff;
  }
  
  /* Card Title */
  .card h3 {
    font-size: 0.5rem;
    margin-bottom: 10px;
  }
  
  /* Card Description */
  .card p {
    font-size: 0.8rem;
    line-height: 1.6;
    color: #b0b0b0;
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  .contact-btn {
    background-color: #00d4ff;
    border: none;
    color: #0d0d1f;
    padding: 5px 10px;
    font-size: 0.4rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 15px rgba(26, 101, 145, 0.8);
  }
  
}

@media (max-width: 780px) {
  .portfolio-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
  }

  .card {
    background-color: #222223d4;
    border-radius: 15px;
    padding: 30px 10px;
    height: fit-content;
    width: 260px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  /* Card Icon */
  .card-icon {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #00d4ff;
  }
  
  /* Card Title */
  .card h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  /* Card Description */
  .card p {
    font-size: 0.88rem;
    line-height: 1.6;
    color: #b0b0b0;
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  .contact-btn {
    background-color: #00d4ff;
    border: none;
    color: #0d0d1f;
    padding: 5px 10px;
    font-size: 0.6rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 8px 15px rgba(26, 101, 145, 0.8);
  }
}

/* Card Icon with Image */
.card-icon img {
  width: 50px;
  height: 50px;
  margin: 0 auto 15px; 
  background-size: cover; 
  background-position: center; 
  object-fit: contain;
  filter: grayscale(100%) brightness(0) invert(1) sepia(1) saturate(1000%) hue-rotate(115deg);
}

